import *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  height: 100vh;
  font-family: "Work Sans";
}

body {
  height: 100%;
}

#__next {
  height: 100%;
}
.layout {
  position: absolute;
  height: 100%;
  width: 100vw;
  min-height: -webkit-fill-available;
}
.layout__main {
  margin-top: 2rem;
  height: calc(100% - 8rem);
  /* overflow: scroll; */
}
